# Aktywny profil Spring Boot: dev | prod
# Docker Compose przekazuje tę zmienną do kontenera backendu przez env_file.
SPRING_PROFILES_ACTIVE=dev

# Konfiguracja bazy danych PostgreSQL
DB_NAME=trippy_db
DB_USER=trippy_user
DB_PASSWORD=trippy_secret_password

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/trippy_db
SPRING_DATASOURCE_USERNAME=trippy_user
SPRING_DATASOURCE_PASSWORD=trippy_secret_password

# Konfiguracja panelu pgAdmin
PGADMIN_EMAIL=admin@trippy.com
PGADMIN_PASSWORD=redneck123!

# Konfiguracja serwera SMTP (Wysyłka emaili)
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

VITE_API_BASE_URL=http://localhost:8080
FRONTEND_URL=http://localhost:5173
FILE_SERVER_URL=http://localhost:8888/uploads/
